{% extends "layout.html" %}

{% block title %}Chart{% endblock %}

{% block content %}
<!-- <div class="row">
  <div class="statistics-details d-flex align-items-center justify-content-between">
    <div>
      <p class="statistics-title">Next Hour</p>
      <h3 class="rate-percentage">{{ pred }}</h3>
      <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p>
    </div>
    <div>
      <p class="statistics-title">Page Views</p>
      <h3 class="rate-percentage">7,682</h3>
      <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
    </div>
    <div>
      <p class="statistics-title">New Sessions</p>
      <h3 class="rate-percentage">68.8</h3>
      <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
    </div>
    <div class="d-none d-md-block">
      <p class="statistics-title">Avg. Time on Site</p>
      <h3 class="rate-percentage">2m:35s</h3>
      <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
    </div>
    <div class="d-none d-md-block">
      <p class="statistics-title">New Sessions</p>
      <h3 class="rate-percentage">68.8</h3>
      <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
    </div>
    <div class="d-none d-md-block">
      <p class="statistics-title">Avg. Time on Site</p>
      <h3 class="rate-percentage">2m:35s</h3>
      <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Traffic Volume Prediction</h4>
        <div class="badge badge-opacity-success">{{ pred }}</div>
        <!-- <p>{{ pred }}</p> -->
      </div>
    </div>
  </div>
  <div class="col-lg-9 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Line chart of Traffic Volume</h4>
        <canvas id="lineChart_traffic"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Last 24 hour dataset</h3>
        <p class="card-description">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <thead>
                {% for col in data[0].keys() %}
                    <th>{{ col }}</th>
                {% endfor %}
              </thead>
            </tr>
            {% for row in data %}
                <tr>
                    {% for val in row.values() %}
                        <td>{{ val }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ baseurl('assets/js/chart.js') }}"></script>
<script src="{{ baseurl('assets/vendors/chart.js/Chart.min.js') }}"></script>

<script>
  var res = {
      "date_time": {{ results["date_time"] | tojson | safe }},
      "traffic_volume": {{ results["traffic_volume"] | tojson | safe }}
  };


  var options = {
	responsive: true,
	interaction: {
		intersect: false,
	},
	scales: {
		yAxes: [{
			ticks: {
				beginAtZero: true
			}
		}]
	},
	legend: {
		display: false
	},
	elements: {
		point: {
			radius: 2
		}
	}
};

  console.log("Data:", res);
  
  'use strict';
  var trafficData = {
      labels: res["date_time"],
      datasets: [
        {
          label: 'Trafic Volume',
          data: res["traffic_volume"],
          backgroundColor: 'rgba(75, 192, 192, 0.2)', // Different color for better visibility
          borderColor: 'rgba(31, 59, 179, 100)',
          borderWidth: 3,
          // cubicInterpolationMode: 'monotone',
          tension: 0.2,
          fill: false
        }
      ]
  };
  
  var traffic = document.getElementById('lineChart_traffic').getContext('2d');
  var trafficChart = new Chart(traffic, {
      type: 'line',
      data: trafficData,
      options: options
  });


  console.log("Charts initialized successfully.");
</script>
{% endblock %}