<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>XAI on TF - Chart</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ baseurl('assets/vendors/feather/feather.css') }}">
  <link rel="stylesheet" href="{{ baseurl('assets/vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ baseurl('assets/vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ baseurl('assets/vendors/typicons/typicons.css') }}">
  <link rel="stylesheet" href="{{ baseurl('assets/vendors/simple-line-icons/css/simple-line-icons.css') }}">
  <link rel="stylesheet" href="{{ baseurl('assets/vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ baseurl('assets/css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ baseurl('assets/images/favicon.png') }}" />
</head>

<body>
  <div class="container-scroller">
    {% include 'partials/_navbar.html' %}
    <div class="container-fluid page-body-wrapper">
      {% include 'partials/_sidebar.html' %}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Line chart</h4>
                  <canvas id="lineChart_air-pollution">
                  </canvas>
                  <canvas id="lineChart_humidity">
                  </canvas>
                  <canvas id="lineChart_traffic">
                  </canvas>
                </div>
              </div>
            </div>
        <!-- content-wrapper ends -->
        <footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a
        href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
    <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
  </div>
</footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ baseurl('assets/vendors/js/vendor.bundle.base.js') }}"></script>
  <script src="{{ baseurl('assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{ baseurl('assets/vendors/chart.js/Chart.min.js') }}"></script>
  <script src="{{ baseurl('assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{ baseurl('assets/js/off-canvas.js') }}"></script>
  <script src="{{ baseurl('assets/js/hoverable-collapse.js') }}"></script>
  <script src="{{ baseurl('assets/js/template.js') }}"></script>
  <script src="{{ baseurl('assets/js/settings.js') }}"></script>
  <script src="{{ baseurl('assets/js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ baseurl('assets/js/chart.js') }}"></script>
  <!-- End custom js for this page-->

  
  <script>
    var res = {
        "date_time": {{ results["date_time"] | tojson | safe }},
        "is_holiday": {{ results["is_holiday"] | tojson | safe }},
        "air_pollution_index": {{ results["air_pollution_index"] | tojson | safe }},
        "humidity": {{ results["humidity"] | tojson | safe }},
        "traffic_volume": {{ results["traffic_volume"] | tojson | safe }}
    };


    var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }

  };

    console.log("Data:", res);
    
    'use strict';
    var airpolData = {
        labels: res["date_time"],
        datasets: [
          {
            label: 'Air Pollution Index',
            data: res["air_pollution_index"],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(220, 99, 132, 1)',
            borderWidth: 2,
            fill: false
          }
        ]
    };

    var airpol = document.getElementById('lineChart_air-pollution').getContext('2d');
    var airpolChart = new Chart(airpol, {
        type: 'line',
        data: airpolData,
        options: options
    });

    'use strict';
    var humidityData = {
        labels: res["date_time"],
        datasets: [
          {
            label: 'Humidity',
            data: res["humidity"],
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Different color for better visibility
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            fill: false
          }
        ]
    };
    
    var humidity = document.getElementById('lineChart_humidity').getContext('2d');
    var humidityChart = new Chart(humidity, {
        type: 'line',
        data: humidityData,
        options: options
    });

    'use strict';
    var trafficData = {
        labels: res["date_time"],
        datasets: [
          {
            label: 'Trafic Volume',
            data: res["traffic_volume"],
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Different color for better visibility
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            fill: false
          }
        ]
    };
    
    var traffic = document.getElementById('lineChart_traffic').getContext('2d');
    var trafficChart = new Chart(traffic, {
        type: 'line',
        data: trafficData,
        options: options
    });


    console.log("Charts initialized successfully.");
</script>

</body>

</html>