{% extends "layout.html" %}

{% block title %}Form{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Entry New Data</h4>
          <form class="forms-sample" action="/process_data" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date_time">Date and Time:</label>
                  <input type="datetime-local" class="form-control" name="date_time" required>
                </div>
        
                <div class="form-group">
                  <label for="air_pollution_index">Air Pollution Index:</label>
                  <input type="number" name="air_pollution_index" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="humidity">Humidity:</label>
                  <input type="number" name="humidity" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="wind_speed">Wind Speed:</label>
                  <input type="number" name="wind_speed" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="wind_direction">Wind Direction:</label>
                  <input type="number" name="wind_direction" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="visibility_in_miles">Visibility in Miles:</label>
                  <input type="number" name="visibility_in_miles" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="dew_point">Dew Point:</label>
                  <input type="number" name="dew_point" class="form-control" placeholder="xx" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="temperature">Temperature:</label>
                  <input type="number" name="temperature" step="0.01" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="rain_p_h">Rain (mm/h):</label>
                  <input type="number" name="rain_p_h" step="0.01" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="snow_p_h">Snow (mm/h):</label>
                  <input type="number" name="snow_p_h" step="0.01" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="clouds_all">Clouds (Percentage):</label>
                  <input type="number" name="clouds_all" class="form-control" placeholder="xx" required>
                </div>
        
                <div class="form-group">
                  <label for="weather_type">Weather Type:</label>
                  <select name="weather_type" class="form-control" required>
                    <option value="Clear">Clear</option>
                    <option value="Clouds">Clouds</option>
                    <option value="Mist">Mist</option>
                    <option value="Rain">Rain</option>
                    <option value="Drizzle">Drizzle</option>
                    <option value="Snow">Snow</option>
                    <option value="Haze">Haze</option>
                    <option value="Fog">Fog</option>
                    <option value="Thunderstorm">Thunderstorm</option>
                  </select>
                </div>                        
                <div class="form-group">
                  <label for="weather_description">Weather Description:</label>
                  <select name="weather_description" class="form-control" required>
                    <option value="sky is clear">Sky is Clear</option>
                    <option value="overcast clouds">Overcast Clouds</option>
                    <option value="scattered clouds">Scattered Clouds</option>
                    <option value="broken clouds">Broken Clouds</option>
                    <option value="mist">Mist</option>
                    <option value="light rain">Light Rain</option>
                    <option value="light snow">Light Snow</option>
                    <option value="few clouds">Few Clouds</option>
                    <option value="haze">Haze</option>
                    <option value="light intensity drizzle">Light Intensity Drizzle</option>
                    <option value="drizzle">Drizzle</option>
                    <option value="fog">Fog</option>
                    <option value="moderate rain">Moderate Rain</option>
                    <option value="heavy intensity rain">Heavy Intensity Rain</option>
                    <option value="proximity thunderstorm">Proximity Thunderstorm</option>
                    <option value="proximity shower rain">Proximity Shower Rain</option>
                    <option value="heavy intensity drizzle">Heavy Intensity Drizzle</option>
                    <option value="light intensity drizzle'">Light Intensity Drizzle</option>
                    <option value="thunderstorm">Thunderstorm</option>
                    <option value="snow">Snow</option>
                    <option value="very heavy rain">Very Heavy Rain</option>
                    <option value="thunderstorm with light rain">Thunderstorm with Light Rain</option>
                    <option value="heavy snow">Heavy Snow</option>
                    <option value="light shower snow">Light Shower Snow</option>
                    <option value="light intensity shower rain">Light Intensity Shower Rain</option>
                    <option value="squalls">Squalls</option>
                    <option value="freezing rain">Freezing Rain</option>
                  </select>
                </div>
                
                
        
                <div class="form-group">
                  <label for="traffic_volume">Traffic Volume:</label>
                  <input type="number" name="traffic_volume" class="form-control" placeholder="xx" required>
                </div>
        
              </div>
            </div>
    
            <button type="submit" class="btn btn-primary me-2">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}